---
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import Layout from "@/layouts/Layout.astro";

import carlus01 from "@/assets/carlus/carlus-1.png";
import carlus02 from "@/assets/carlus/carlus-2.png";
import ImagesGallery from "@/components/images-gallery";

const carlusImages = [
  { src: carlus01, alt: "carlus-1" },
  { src: carlus02, alt: "carlus-2" },
  { src: carlus01, alt: "carlus-1" },
  { src: carlus01, alt: "carlus-1" },
  { src: carlus01, alt: "carlus-1" },
];
---

<Layout>
  <div
    class="flex flex-col items-center justify-center max-w-screen-md mx-auto p-8"
  >
    <header class="w-full flex flex-col gap-4 justify-start">
      <div class="flex flex-row gap-2 items-center">
        <h1 class="text-3xl font-serif">Simon Ottati</h1>
        <ul class="font-mono text-sm text-muted-foreground flex flex-row">
          <li>
            <Button
              variant="link"
              size="sm"
              className="text-muted-foreground cursor-pointer"
            >
              <a
                href="https://www.linkedin.com/in/simon-ottati-ostiglia-6b161620a/"
                target="_blank"
              >
                LinkedIn
              </a>
            </Button>
          </li>
          <li>
            <Button
              variant="link"
              size="sm"
              className="text-muted-foreground cursor-pointer"
            >
              <a href="https://github.com/sottati" target="_blank"> GitHub </a>
            </Button>
          </li>
          <li>
            <Button
              variant="link"
              size="sm"
              className="text-muted-foreground cursor-pointer"
            >
              <a href="mailto:simooonottati@gmail.com"> Gmail </a>
            </Button>
          </li>
        </ul>
      </div>
      <p class="font-mono text-sm italic">Software Developer</p>
      <p class="font-mono text-sm">30/08/2003 | Argentina, CABA</p>
    </header>

    <Separator className="w-full my-4 bg-muted-foreground" />

    <main class="w-full flex flex-col gap-6">
      <section>
        <h2 class="font-mono font-bold">Educación</h2>
        <div class="mb-3">
          <h3 class="font-mono font-semibold">
            Lic. en Gestión de Tecnologías de la Información (Sistemas)
          </h3>
          <p class="font-mono text-sm text-muted-foreground">
            UADE (en curso | 2do año)
          </p>
        </div>
        <div>
          <h3 class="font-mono font-semibold">
            Bachiller con orientación en producción de medios audiovisuales
          </h3>
          <p class="font-mono text-sm text-muted-foreground">ORT Belgrano</p>
        </div>
      </section>

      <section>
        <h2 class="font-mono font-bold">Proyectos</h2>
        <div class="mb-3">
          <h3 class="font-mono pb-2">
            <a
              target="_blank"
              href="https://logistica-lilac.vercel.app"
              class="hover:underline"
            >
              Pack Pilot | Software para manejo de empresas logisticas
            </a>
          </h3>
          <p class="font-mono text-sm text-muted-foreground">
            [imagen] [imagen] [imagen]
          </p>
        </div>
        <div class="mb-3">
          <h3 class="font-mono pb-2">
            <a
              target="_blank"
              href="https://carlus.vercel.app"
              class="hover:underline"
            >
              Carlus | Herramienta de escritura de texto asistida con AI
            </a>
          </h3>
          <ImagesGallery client:load images={carlusImages} />
        </div>
      </section>

      <section>
        <h2 class="font-mono font-bold">Experiencia laboral</h2>
        <div class="mb-3">
          <h3 class="font-mono font-semibold">
            <a
              target="_blank"
              href="https://planbit.com.ar"
              class="hover:underline"
            >
              PlanBit</a
            >
            /
            <a
              target="_blank"
              href="https://fundacionblockchain.com"
              class="hover:underline"
            >
              Fundación Blockchain Argentina</a
            >
            | Desarrollador Web
          </h3>
          <p class="font-mono text-sm text-muted-foreground">
            Marzo 2022 -&gt; Presente
          </p>
          <ul
            class="list-disc list-inside font-mono text-sm mt-1 ml-2 space-y-1"
          >
            <li>Diseño, maquetación y desarrollo web</li>
            <li>
              Creación de un exchange P2P de criptomonedas, apuntado para gente
              de Buenos Aires
            </li>
            <li>
              Fundación Blockchain: diseño y creación de la web
              (fundacionblockchain.com)
            </li>
            <li>
              Organización y segmentación del contenido informativo dentro de la
              página
            </li>
          </ul>
        </div>
        <div class="mb-3">
          <h3 class="font-mono font-semibold">
            <a
              target="_blank"
              href="https://www.instagram.com/promowearsrl/"
              class="hover:underline"
            >
              PromoWear (para La Nacion+)</a
            >
            | Producción de eventos
          </h3>
          <p class="font-mono text-sm text-muted-foreground">
            Abril 2023 -&gt; Presente
          </p>
          <ul
            class="list-disc list-inside font-mono text-sm mt-1 ml-2 space-y-1"
          >
            <li>
              Eventos y programas en vivo: Comunidad de Negocios, Managment 2030
              10° Edición, Summits (Innovación, Sustentabilidad, Mujeres al
              Mundo, RRHH, Movilidad, Bienestar y salud, entre otros), Eventos
              corporativos, Premiaciones
            </li>
            <li>
              Operador técnico en transmisiones en vivo (VMix): Managment 2030
              11° Edición, La Nacion+ Cerca, Summits, Premiaciones
            </li>
          </ul>
        </div>
        <div class="mb-3">
          <h3 class="font-mono font-semibold">Freelance</h3>
          <ul
            class="list-disc list-inside font-mono text-sm mt-1 ml-2 space-y-1"
          >
            <li>
              Edición de contenidos audiovisuales | Premire Pro, Photoshop,
              Illustrator, After Effects
            </li>
            <li>
              Diseñador de flyers para eventos, invitaciones, tarjetas de
              contacto, entre otras
            </li>
            <li>Desarrollo de paginas web</li>
            <li>Automatización de procesos</li>
          </ul>
        </div>
      </section>

      <section>
        <h2 class="font-mono font-bold">Conocimientos</h2>
        <ul class="list-disc list-inside font-mono text-sm ml-2 space-y-1">
          <li>React</li>
          <li>NextJS</li>
          <li>Astro</li>
          <li>SQL</li>
          <li>Python</li>
          <li>Java</li>
        </ul>
      </section>

      <section>
        <h2 class="font-mono font-bold">Idiomas</h2>
        <ul class="list-disc list-inside font-mono text-sm ml-2 space-y-1">
          <li>Español | Nativo</li>
          <li>Inglés | Intermedio</li>
        </ul>
      </section>

      <section>
        <h2 class="font-mono font-bold">Intereses generales</h2>
        <p class="font-mono text-sm">
          Surf | Futbol | Programación | Ejercicio fisico | Snowboard | AI |
          SpeedCubing
        </p>
      </section>
    </main>
  </div>
</Layout>
